<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title"></h1>

    </ion-header-bar>
    <ion-content>
      <div class="list card">
        <div class="item item-avatar">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/db/House_Luminous_Logo_2011.jpg">
          <h2>LUMINOUS</h2>
          <p>Rohith + Amrith</p>
        </div>

        <div class="item item-body">
          <p>
            Meet LUMINOUS.
          </p>
          <p>
            Adjective. Full of or shedding light; bright or shining, especially in the dark.
          </p>
          <p>
            A one of a kind GPS and AR based game. It's <span class="game-name">Clash of Clans</span> meets <span class="game-name">Monopoly</span>
          </p>
          <p>
            Walk around, claim territories, build an army, fight wars, make peace.
          </p>
          <p>
            It's strategy. It's imagination. It's possesion.
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>

      </div>
      <!--<div class="card">
        <div class="item item-text-wrap">
          Meet LUMINOUS.
          <div>
            Adjective. Full of or shedding light; bright or shining, especially in the dark.
          </div>
          <div>
            A one of a kind GPS and AR based game. It's <span class="game-name">Clash of Clans</span> meets <span class="game-name">Monopoly</span>
            <br /> Walk around, claim territories, build an army, fight wars, make peace.
            <div>
              It's strategy. It's imagination. It's possesion.
            </div>
          </div>
        </div>
      </div>-->
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>